<% 
    checkboxHelper = (id) => {
        return `<div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" id="checkbox-${id}" name="cid" value="${id}">
                    <label for="checkbox-${id}" class="custom-control-label"></label>
                </div>`;
    }
%>




