<%
    groupACPHelper = (linkPrefix, group_acp, id) => {
        let classGroupAcp = (group_acp == 'yes') ? 'fa-check-square' : 'fa-square';
        let link       = linkPrefix + 'change-group-acp/' + id + '/' + group_acp ;
        return `<a href="${link}" class="fas ${classGroupAcp} fa-2x"></a>`;
    }
%>



