<% 
    sourceByHelper = (user_name, time) => { 
        let xhtmlResult = `<p class="mb-0 history-by"><i class="far fa-user"></i> ${user_name} </p>
                            <p class="mb-0 history-time"><i class="far fa-clock"></i> ${moment(time).format(systemConfig.format_long_time)}</p>`;
        return xhtmlResult;
    } 
%>







