<% 
    highlightHelper = (name, search) => {
        if(search.length > 0) return name.replace(new RegExp(search, "ig"), (searchResult) => {
            return `<span class='highlight'>${searchResult}</span>`
        });
        return name;
    }
%>


