<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<% include ./elements/head %>
	</head>
	<body>
		<% include ./elements/header %>
		<main>
			<!-- Start top-post Area -->
			<% if( slider === true){ %>
				<% include ./elements/slider %>
			<% } %>
			<!-- End top-post Area -->
			
			<!-- Start latest-post Area -->

			<%- body %>	

		<main>
		<% include ./elements/footer %>
		<% include ./elements/script %>
	</body>
</html>