<!DOCTYPE html>
<html lang="zxx" class="no-js">
	<head>
		<% include ./elements/head %>
	</head>
	<body>
		<% include ./elements/header %>
		<main>
			<!-- Start top-post Area -->
			<% if(top_post == true) {%>
				<% include ./elements/top_post %>
			<% } %>
			<!-- End top-post Area -->
			
			<!-- Start latest-post Area -->

			<%- body %>	

			<!-- End latest-post Area -->
		<main>
		<% include ./elements/footer %>
		<% include ./elements/script %>
	</body>
</html>