<!DOCTYPE html>
<html>

<head>
    <% include ./../admin96/html/head %>
</head>

<body class="login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href=""><b>Admin</b></a>
        </div>
        <!-- /.login-logo -->
        <%- body %>
        <!-- /.login-card-body -->
    </div>
    <!-- script -->
    <% include ./../admin96/html/script %>
</body>

</html>
