<% include ./../../helpers/format-date %>
<% include ./../../helpers/format-summary %>
<% const folder_uploads = 'uploads/article/'; %>

<div class="col-lg-8 post-list">
	
	<!-- Start single-post Area -->
	<div class="single-post-wrap">
	
		<div class="feature-img-thumb relative">
			<img class="img-fluid" src="" alt="">
		</div>
		<div class="content-wrap">
			<h3>No Permession</h3>
		</div>	
	</div>
</div>